In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
aisd_2018_2021_cal = pd.read_csv('/Users/kpierce/epimodels/notebooks/AustinGranularModel/Schools/data/AISDCalendars/AISD_2018_2021_Calendar.csv')

In [3]:
aisd_2018_2021_cal.head()

         Date HolidayType  StudentHoliday
0  2018-01-01     Federal            True
1  2018-01-02        AISD            True
2  2018-01-15     Federal            True
3  2018-02-19        AISD            True
4  2018-03-12        AISD            True

In [4]:
min_date = datetime(year=2018, month=1, day=1)
max_date = datetime(year=2021, month=12, day=31)

In [5]:
date_range = (max_date - min_date)
date_range.days

1460

In [6]:
date_list = [max_date - timedelta(days=x) for x in range(date_range.days+1)]
weekday = {i: (True if i.weekday() < 5 else False) for i in date_list}
weekday_df = pd.DataFrame.from_dict([weekday]).transpose().reset_index()
weekday_df.columns = ['Date', 'is_weekday']

In [7]:
weekday_df['Date'] = weekday_df['Date'].astype('datetime64[ns]')
aisd_2018_2021_cal['Date'] = aisd_2018_2021_cal['Date'].astype('datetime64[ns]')

In [8]:
full_calendar = pd.merge(
    weekday_df,
    aisd_2018_2021_cal,
    on='Date',
    how='left'
)

In [9]:
full_calendar['school_closed'] = [
    True if (row['is_weekday'] == False) or (row['StudentHoliday'] == True) else False for i, row in full_calendar.iterrows()
]

In [11]:
full_calendar.sort_values('Date').head(40)

           Date  is_weekday HolidayType StudentHoliday  school_closed
1460 2018-01-01        True     Federal           True           True
1459 2018-01-02        True        AISD           True           True
1458 2018-01-03        True         NaN            NaN          False
1457 2018-01-04        True         NaN            NaN          False
1456 2018-01-05        True         NaN            NaN          False
1455 2018-01-06       False         NaN            NaN           True
1454 2018-01-07       False         NaN            NaN           True
1453 2018-01-08        True         NaN            NaN          False
1452 2018-01-09        True         NaN            NaN          False
1451 2018-01-10        True         NaN            NaN          False
1450 2018-01-11        True         NaN            NaN          False
1449 2018-01-12        True         NaN            NaN          False
1448 2018-01-13       False         NaN            NaN           True
1447 2018-01-14       False         NaN            NaN           True
1446 2018-01-15        True     Federal           True           True
1445 2018-01-16        True         NaN            NaN          False
1444 2018-01-17        True         NaN            NaN          False
1443 2018-01-18        True         NaN            NaN          False
1442 2018-01-19        True         NaN            NaN          False
1441 2018-01-20       False         NaN            NaN           True
1440 2018-01-21       False         NaN            NaN           True
1439 2018-01-22        True         NaN            NaN          False
1438 2018-01-23        True         NaN            NaN          False
1437 2018-01-24        True         NaN            NaN          False
1436 2018-01-25        True         NaN            NaN          False
1435 2018-01-26        True         NaN            NaN          False
1434 2018-01-27       False         NaN            NaN           True
1433 2018-01-28       False         NaN            NaN           True
1432 2018-01-29        True         NaN            NaN          False
1431 2018-01-30        True         NaN            NaN          False
1430 2018-01-31        True         NaN            NaN          False
1429 2018-02-01        True         NaN            NaN          False
1428 2018-02-02        True         NaN            NaN          False
1427 2018-02-03       False         NaN            NaN           True
1426 2018-02-04       False         NaN            NaN           True
1425 2018-02-05        True         NaN            NaN          False
1424 2018-02-06        True         NaN            NaN          False
1423 2018-02-07        True         NaN            NaN          False
1422 2018-02-08        True         NaN            NaN          False
1421 2018-02-09        True         NaN            NaN          False

In [12]:
full_calendar = full_calendar.rename(columns={'Date': 'date'})

In [13]:
full_calendar.to_csv('/Users/kpierce/epimodels/notebooks/AustinGranularModel/Schools/data/AISDCalendars/AISD_2018_2021_Calendar_all_dates.csv')